<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">

<context:component-scan base-package="com.muni.fi.pa165"/>

<!--    <tx:annotation-driven transaction-manager="transactionManager" />-->
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
             <property name="persistenceUnitName" value="ProjectPU"/>
         </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
      
     <bean id="translatorWeb" class="org.springframework.orm.hibernate4.HibernateExceptionTranslator"/>
     
     
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
     <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>AreaMapper.xml</value>
                <value>MonsterAreaMapper.xml</value>
                <value>WeaponMapper.xml</value>
                <value>SystemUserMapper.xml</value>	
                <value>MonsterMapper.xml</value>
                <value>MonsterWeaponMapper.xml</value>
                <value>MonsterWeaponPKMapper.xml</value>
                <value>MonsterAreaPKMapper.xml</value>
            </list>
        </property>
    </bean>
    
    
<bean id="applicationContextProvider" class="com.muni.fi.pa165.ws.ApplicationContextProvider"></bean>
<bean id="monsterService" class="com.muni.fi.pa165.service.impl.MonsterServiceImpl"/>

 <!--Mapping Services--> 
<!--<bean name="areaService" class="com.muni.fi.pa165.service.impl.AreaServiceImpl"/>
<bean name="monsterAreaService" class="com.muni.fi.pa165.service.impl.MonsterAreaServiceImpl"/>
<bean name="monsterService" class="com.muni.fi.pa165.service.impl.MonsterServiceImpl"/>
<bean name="monsterWeaponService" class="com.muni.fi.pa165.service.impl.MonsterWeaponServiceImpl"/>
<bean name="weaponService" class="com.muni.fi.pa165.service.impl.WeaponServiceImpl"/>
<bean name="systemUserService" class="com.muni.fi.pa165.service.impl.SystemUserServiceImpl"/>-->

 <!--Mapping DAO--> 
<!--<bean name="areaDao" class="com.muni.fi.pa165.dao.impl.AreaDaoImpl"/>
<bean name="monsterAreaDao" class="com.muni.fi.pa165.dao.impl.MonsterAreaDaoImpl"/>
<bean name="monsterDao" class="com.muni.fi.pa165.dao.impl.MonsterDaoImpl"/>
<bean name="monsterWeaponDao" class="com.muni.fi.pa165.dao.impl.MonsterWeaponDaoImpl"/>
<bean name="weaponDao" class="com.muni.fi.pa165.dao.impl.WeaponDaoImpl"/>
<bean name="systemUserDao" class="com.muni.fi.pa165.dao.impl.SystemUserDaoImpl"/>-->

<!-- Mapping DTO -->

<!--<bean name="areaDto" class="com.muni.fi.pa165.dto.AreaDto" />-->

<!--        <bean id="area" name="area" class="com.muni.fi.pa165.dto.AreaDto" ></bean>
    -->
</beans>
